// Palette di colori
$primary-color: #FF8000; // Brand color - buttons - icons 
$secondary-color: #2E3333; //background Footer - titles 
$tertiary-color: #434848; //card in footer
$quaternary-color: #F8F9FA; // title and paragraph in footer, and buttons
$quinary-color: #7a7a7aba; // paragraph
$border-light: #e8ebeb;

// Tipografia
$font-size-base: 1rem;
$font-weight-normal: 400;
$font-weight-bold: 700;